= form_for todo do |f|
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.hidden_field :text, id: "todo_text[#{todo.id}]"
    %trix-editor{input: "todo_text[#{todo.id}]"}
  .action
    = f.submit
