#todosApp
  %todo
= javascript_pack_tag 'todos_vue'
-# %h1 My Todos
-# - if @todos.present?
-#   %ul.all_todos#todos_app
-#     - @todos.each_with_index do |todo, i |
-#       %li.flex_todo_memos
-#         .todo
-#           %h1.heading
-#             = "Todo#{i + 1}"
-#           = render partial: "todo_content", locals: {todo: todo}
-#           .create_memos
-#             = render partial: "memos_form", locals: {memo: @memo, todo: todo}
-#         %ul.memos
-#           %h1.heading
-#             = "Todo#{i + 1}のメモ"
-#           - todo.memos.each.with_index do |memo, i|
-#             %li.memo
-#               %input{type: "checkbox"}
-#               %span.content
-#                 = "#{i + 1}. #{memo.text}"
-# - else
-#   %p Nothing to do yay!

-# = link_to "新しくTodoを作成する", new_todo_path
