.container
  %h1 My Todos
  - if @todos.present?
    .todos
    %ul
      - @todos.each do |todo |
        %li.layer_manage
          .todo
            = render partial: "todo_content", locals: {todo: todo}
            .todo_delete
              = link_to "削除する", todo_path(todo), method: :delete
            .todo_create_child
              = render partial: "child_form", locals: {todo: @todo, parent: todo}
          %ul.layer_content
            - todo.following.each do |tc|
              %li
                %span
                  = tc.title
  - else
    %p Nothing to do yay!
  
  = link_to "新しく一番上のTodoを作成する", new_todo_path
