.container#app
  %h1 My Todos
  - if @todos.present?
    %ul
      - @todos.each do |todo |
        %li
          %p
            = todo.text
          -todo.find_childrens.each do |tc|
            %p
              = tc.text
          = form_for @todo do |f|
            = f.text_field :text
            = f.fields_for :todo_to do |relation|
              = relation.hidden_field :from_todo_id, value: todo.id
            = f.submit
  - else
    %p Nothing to do yay!
  = form_for @todo do |f|
    = f.text_field :text
    = f.submit
