.container
  %h1 My Todos
  - if @todos.present?
    .todos
    %ul
      - @todos.each_with_index do |todo, i |
        %li.layer_manage
          .todo
            %h1.heading
              = "Todo#{i + 1}"
            = render partial: "todo_content", locals: {todo: todo}
            .todo_create_child
              = render partial: "child_form", locals: {todo: @todo, parent: todo}
          %ul.memos
            %h1
              = "Todo#{i + 1}のメモ"
            - todo.following.each.with_index do |tc, i|
              %li.each_memo
                %p
                  = "#{i + 1}. #{tc.title}"
  - else
    %p Nothing to do yay!

  = link_to "新しくTodoを作成する", new_todo_path
